# Default values for concourse-webhook.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

## Webhook Image.
##
image: .dkr.ecr.eu-west-1.amazonaws.com/concourse-workers
imageTag: webhook
## Specify a imagePullPolicy: 'Always' if imageTag is 'latest', else set to 'IfNotPresent'.
## ref: https://kubernetes.io/docs/user-guide/images/#pre-pulling-images
##
imagepullPolicy: IfNotPresent

## ref: https://kubernetes.io/docs/user-guide/services/#publishing-services---service-types
## app reads the port from its .ini
service:
  type: ClusterIP
  port: 8080

## Number of replicas.
##
replicaCount: 1

## Ingress configuration.
## ref: https://kubernetes.io/docs/user-guide/ingress/
##
ingress:
  enabled: true

  ## Hostnames
  ## Must be provided if Ingress is enabled.
  ##
  hosts:
    - concourse-webhook-demo.apps.cloud-platforms-sandbox.k8s.domain

## Configure resource requests and limits.
## ref: https://kubernetes.io/docs/user-guide/compute-resources/
##
resources:
  requests:
    cpu: 128m
    memory: 128Mi
